doctype html
html(lang="en")
  head
    script(type="text/javascript" src="coffeescripts/app.js")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link( rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster")  
    title
      | Practice With Codekit
  body
    h1#header Practice Page 
    .box 
