doctype html
html(lang="en")
  head
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js")
    script(type="text/javascript" src="coffeescripts/portfolio.js")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')  
    link(rel="stylesheet" type="text/css" href="css/portfolio.css")
    link( rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300")  
    title
      | Matt Greenberg
  body
    #Portfolio
      .page-overlay
        .exit
          | &times;
      h1#header Cinema 4D
      hr
      i#menu.fa.fa-bars
      nav
        
        ul
          li
            a(href="/")
              | Home
          li
            a(href="/")
              | Home
          li
            a(href="/")
              | Home
        
      .images
        .image
          .overlay
            h2#title
              |Fuzzy Dude
          .content
            h2#content-title 
              | Fuzzy Dude 
            h3#technologies 
              | Cinema 4D | Photoshop 
        .image
          .overlay
            h2#title
              |Birdy
          .content
            h2#content-title 
              | Birdy
            h3#technologies 
              | Cinema 4D | Photoshop   
        .image
          .overlay
            h2#title
              |Eyes
          .content
            h2#content-title 
              | Eyes
            h3#technologies 
              | Cinema 4D | Photoshop 
        .image
          .overlay
            h2#title
              |Refracted Light
          .content
            h2#content-title 
              | Refracted Light
            h3#technologies 
              | Cinema 4D | Photoshop 
        .image
          .overlay
            h2#title
              |Base Amp
          .content
            h2#content-title 
              | Base Amp
            h3#technologies 
              | Cinema 4D | Photoshop 
        .image   
          .overlay
            h2#title
              |Tape Deck
          .content
            h2#content-title 
              | Tape Deck 
            h3#technologies 
              | Cinema 4D | Photoshop 
