doctype html
html(lang="en")
  head
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js")
    script(type="text/javascript" src="/coffeescripts/portfolio.js")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')  
    link(rel="stylesheet" type="text/css" href="css/footer.css")
    link( rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300")  
  
  #footer
    h1 
      | Follow Me On Social Media
    .social 
      a(href="http://codepen.io/mattgreenberg/" target="_blank")
        i.fa.fa-codepen 
      a(href="https://www.linkedin.com/mattcgreenberg" target="_blank")
        i.fa.fa-linkedin 
      a(href="https://twitter.com/McGreenBeats" target="_blank")
        i.fa.fa-twitter 
      a(href="https://github.com/MatthewGreenberg" target="_blank")
        i.fa.fa-github
    
    
